<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta	content="initial-scale=1, width=device-width, viewport-fit=cover" name="viewport">
		<title>{{- site.title -}}</title>
		<link href="{{ '/assets/favicon.png' | relative_path }}" rel="icon">
		<link href="{{ '/assets/reset.css' | relative_path }}" rel="stylesheet">
		<link href="{{ '/assets/style.css' | relative_path }}" rel="stylesheet">
		<script src="{{ '/assets/random.js' | relative_path }}"></script>
	</head>
	<body>
		{{ content }}
	</body>
</html>
